PodCast AI Application

This Application is to be used to generate podcast episodes.
Application will be split into services:
    - News feed from RSS Feeds or MCP services for topic research for Podcasts
    - There needs to be an AI overseer that manages the various PodCasts 
         - The AI overseer will be responsible for:
            - Creating new Podcast Groups 
            - Assigning News Feeds to Podcast Groups
            - Assigning AI Pod text generation to Podcast Groups
            - Managing the various PodCasts
            - Managing the various News Feeds
            - Managing the various AI Pod text generations
            - Managing the various Podcast Groups
            - Managing the various News Feeds
            - Managing the various AI Pod text generations
        - AI overseer is to make sure to be assigning topical news feeds to the various Podcast Groups
    - Podcast Groups will consist of:
        - Podcast Name
        - Podcast Description
        - Podcast Category
        - Podcast Subcategory
        - Podcast Language
        - Podcast Country
        - Podcast Tags
        - Podcast Keywords
        - Podcast presenters (1 to 4 people) 
        - Writer
    -Podcast Presenters will consist of:
        - Name
        - Bio
        - Age
        - Gender
        - Demographics
        - Baise towards topics
        - Specialties
        - Areas of Expertise
        - Areas of Interest
        - Country
        - City
    - Each Podcast Presenter will be an AI agent that will be responsible for:
        - Presenting the podcast episode
        - This AI will be voiced using the following model: https://huggingface.co/microsoft/VibeVoice-1.5B https://github.com/microsoft/VibeVoice?tab=readme-ov-file#installation 
    - Writer will be an AI agent that will be responsible for:
        - Writing the podcast episode
        - Writing the podcast episode title
        - Writing the podcast episode description
        - Writing the podcast episode keywords
        - Writing the podcast episode tags
        - Writing the podcast episode category
        - Writing the podcast episode subcategory
        - Writing the podcast episode language
        - Writing the podcast episode country
        - This AI will be using Ollam for its model this is running on the same machine as the AI Pod text generation
    - AI Pod text generation (to produce an 60 - 80 minute podcast episode) 
        - The AI Pod text generation will be responsible for:
            - Generating the podcast episode
            - Generating the podcast episode title
            - Generating the podcast episode description
            - Generating the podcast episode keywords
            - Generating the podcast episode tags
            - Generating the podcast episode category
            - Generating the podcast episode subcategory
            - Generating the podcast episode language
            - Generating the podcast episode country

    
The podcast application should generate a podcast episode per each Podcast Group based on a set schedule. 
There needs to be functionality to add new Podcast Groups.
There needs to be functionality to add new News Feeds to Podcast Groups.
There needs to be functionality to add new AI Pod text generations to Podcast Groups.
There needs to be functionality to add new Podcast Presenters to Podcast Groups.
There needs to be functionality to add new Writers to Podcast Groups.
There needs to be functionality to add new Podcast Groups.
There needs to be functionality to upload directly to podcast hosting services.
 
        
        1

        